extends layout
include ./mixins/_flash-messages

block content
    .container
        +flashMessages()
        br
        .row
            .col-sm-6
                h2 History
            .box.ml-auto
                h2 #{user.points} Points
        br                    
        .col-sm-12.top-pad-10
            if (histories.length > 0)
                .table-responsive.text-nowrap
                    table.table.table-hover.table-fixed
                        thead
                            tr
                            th Phone Number
                            th Product Name
                            th Serial Number
                            th Code
                            th Point
                        each history in histories
                            tbody
                                tr
                                td 0#{user.phone}
                                td #{history.usedSerial_Prouct_Name || "No Product Name"}
                                td #{history.usedSerial}
                                td #{history.code}
                                td #{history.point || "No point"}
            else
                .card-content
                    center.p-5
                        h2
                            | History empty                    
        