extends dashboard

include ./mixins/_flash-messages

block content
    .container
        .row
            .col-12.ml-auto
                a.btn.btn-primary.btn-sm.mr-auto(href="/users") Back
            .col-ml-12
                if (histories.length > 0)
                    .table-responsive.text-nowrap
                        table.table.table-hover.table-fixed
                            thead
                                tr
                                th Product Name
                                th Pin Code
                                th Serial No
                                th Batch No
                                th Point
                                th user
                            each history in histories
                                tbody
                                    tr
                                    td #{history.usedSerial_Prouct_Name}
                                    td #{history.code}
                                    td #{history.usedSerial}
                                    td 1234
                                    td #{history.point}
                                    td 0#{history.user.phone}
                else
                    .card-content
                        center.p-5
                            h2
                                | History empty